# Project
config/calendar_key.txt

# Flutter related files
**/build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub/
.dart_tool/
.vscode/

# Android related files
*.apk
*.aar
*.ap_
*.hprof
*.so
**/android/app/debug
**/android/app/profile
**/android/app/release
android/.gradle/
android/app/build/
android/local.properties
android/.idea/
android/captures/
android/.cxx/
android/externalNativeBuild/
android/output.json

# Google Services (e.g. APIs or Firebase)
android/app/google-services.json
android/app/src/debug/google-services.json
android/app/src/profile/google-services.json
android/app/src/release/google-services.json

# iOS related files
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/certain-useful-certs.txt
ios/Flutter/flutter_assets/
ios/Flutter/pod_helper.rb
ios/.symlinks/
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner/Info.plist
ios/Runner.xcworkspace/
ios/ServiceDefinitions.json

# Packages
*.dylib
*.so
*.dll

# Miscellaneous
*.log
*.lock
*.swp
*.swo
*.DS_Store

# Local IntelliJ configurations
*.iml
*.ipr
*.iws
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore files
*.jks
*.keystore

# Obsolete files
**/.log

# Original entries
.gradle/
build/
local.properties
captures/
.externalNativeBuild/
